.Programs{
    display: grid;
    grid-template-rows: 20% 80%;
    border: 1px solid lightgray;
    height: 50vh;
}
.Programs div{
    display: flex;
}

.Programs .TitleProgram{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 5vh;
    font-size: 2vmin;
    padding: 1vmin 2vmin;
}

.Programs .TitleProgram div,
.Programs .TitleProgram div span{
    display: flex;
    align-items: center;
}

.Programs .Table{
    display: flex;
    flex-direction: column;
}

