.Test{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    height: auto;
}

.Test .Title{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vmin 0;
    background-color: #496949
}

.HeadData{
    display: grid;
    grid-template-columns: repeat(7, auto);
    margin: 1vmin 0;
}
.HeadData div{
    display: flex;
    justify-content: center;
    align-items: center;
}


