.TypeTest{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.TypeTest div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.TypeTest .BlockTypeTest{
    min-width: 20vmin;
    box-sizing: border-box;
    color: #fff;
    font-size: 2vmin;
}

.TypeTest .BlockTypeTest div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.TypeTest .BlockTypeTestActive{
    background-color: #fafafa;
    color: #496949;
}

.TypeTest .BlockTypeTestInActive{
    background-color: #496949;
    color: #fff;
}

.TypeTest .BlockTypeTest:hover{
    cursor: pointer;
}

.TypeTest .BlockTypeTest div:first-child{
    margin-right: 1.5vmin;
}

.TypeTest .TypeTestLabel{
    font-size: 2.1vmin;
    color: #fff;
    margin: 0 2vmin;
}