.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1976d2;
    color: #fff;
}

.Header div{
    display: flex;
    align-items: center;
}