.StartPageWrapper {
    display: flex;
    height: 70vh;
    width: 90vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: rgb(49,46,92);
    background: linear-gradient(120deg, rgba(49,46,92,1) 0%, rgba(194,194,213,1) 75%, rgba(0,212,255,1) 100%);
}

.StartPageInner{
    display: flex;
    flex-direction: column;
    margin: 2vmin 5vmin;
    width: 100%;
}

.Title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    padding: 2vmin 0;
    color: #fff;
    border-bottom: 1px solid black;
}
.Body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.BodyHead{
    display: flex;
    font-size: 1.3rem;
    color: #fff;
    margin: 3vmin 5vmin;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    margin: 2vmin 0;
    font-size: 1.1rem;
}